<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Stephen Dowsland</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card>
        <mat-card-title fxLayoutAlign="center">Under Construction :)</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <img width="80" src="/assets/images/under-construction.gif" alt="">
        </mat-card-content>
    </mat-card>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <router-outlet></router-outlet>
</div>