<mat-card>
    <mat-card-content>
        <h1>Get in touch</h1>
        <form class="contact-form">
            <mat-form-field class="contact-full-width">
                <input matInput placeholder="Your name" required="required" value="">
            </mat-form-field>

            <mat-form-field class="contact-full-width">
                <input type="email" matInput placeholder="Your email address" required="required" value="" />
            </mat-form-field>



            <mat-form-field class="contact-full-width">
                <label for="message">Your Message</label>
                <textarea matInput name="" id="message" required="required" cols="30" rows="5"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary">Send Message</button>

        </form>
    </mat-card-content>
</mat-card>